/* Estilo general para el cuerpo del documento */
body {
    font-family: sans-serif; /* Fuente de familia sans-serif para todo el documento */
    background-color: rgb(245, 245, 245); /* Fondo en RGB con valores 245 */
    margin: 0;
    padding: 0;
}

/* Estilo para el título h1 */
h1 {
    font-size: 24px; /* Tamaño de fuente 24px */
    color: #242424; /* Color del texto */
    font-weight: 900; /* Grosor de la fuente 900 */
    margin: 20px 0; /* Margen superior e inferior de 20px */
}

/* Estilo para el título h2 */
h2 {
    font-size: 20px; /* Tamaño de fuente 20px */
    color: #606060; /* Color del texto */
    font-weight: 800; /* Grosor de la fuente 800 */
    margin: 10px 0; /* Margen superior e inferior de 10px */
}

/* Estilo para los párrafos */
p {
    font-size: 14px; /* Tamaño de fuente 14px */
    margin: 30px 0; /* Margen superior e inferior de 30px */
}

/* Estilo para la lista */
ul {
    margin-left: 100px; /* Margen a la izquierda de 100px */
    padding: 20px; /* Padding de 20px */
    border: 2px solid blue; /* Borde sólido de 2px de color azul */
    max-width: 40%; /* Ancho máximo de 40% */
    list-style-type: none; /* Eliminar viñetas */
}

/* Estilo para los elementos de la lista */
ul li {
    font-family: monospace; /* Fuente de familia monospace */
    font-size: 18px; /* Tamaño de fuente 18px */
    padding: 10px; /* Espaciado interno de 10px */
}

/* Estilo para los links */
a {
    font-weight: bold; /* Links en negrita */
    text-decoration: none; /* Eliminar subrayado por defecto */
}

/* Estilo específico para links dentro de la lista */
ul li a {
    color: orange; /* Color naranja para los links */
    text-decoration: underline; /* Subrayado para los links */
}


/* Estilo específico para elementos de lista con texto "Neuquén" y "Río Negro" */
ul li:has(a:contains("Neuquén")),
ul li:has(a:contains("Río Negro")) {
    color: green; /* Color verde para el texto y el link */
}
    
/* Estilo para el fondo de los elementos de la lista al pasar el cursor */
ul li:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo con opacidad 0.1 */
}
