/* Selector de tipo: selecciona todos los elementos <p> */
p {
    padding: 10px;
    color: white;
    font-size: 16px;
}

/* Selector de clase: selecciona elementos con la clase .p-clase */
.p-clase {
    background-color: #4CAF50;
    
}

/* Selector de ID: selecciona el elemento con el ID #p-id */
#p-id {
    background-color: #FF5722;
    
}

/* Selector de tipo aplicado para el primer párrafo */
p:first-of-type {
    background-color: #2196F3;

}